<div class="holy-grail-flexbox">
    <header class="header">ASYNC!</header>


    <main class="main-content">
      <%= turbo_frame_tag_async "widget-1", data1, data2 do |d1, d2| %>
        <table border="1"><tr><td>Async loaded and rendered. D1:<%= d1.inspect %> | D2:<%= d2.inspect %></td></tr></table>
      <% end %>
    </main>


    <section class="left-sidebar">
      <%= turbo_frame_tag_async "widget-2", data1, data3 do |d1, d3| %>
        <table border="1"><tr><td>Async loaded and rendered. D1:<%= d1.inspect %> | D3:<%= d3.inspect %></td></tr></table>
      <% end %>
    </section>


    <aside class="right-sidebar">
      <%= turbo_frame_tag_async "widget-3", data3, data4 do |d3, d4| %>
        <table border="1"><tr><td>Async loaded and rendered. D3:<%= d3.inspect %> | D4:<%= d4.inspect %></td></tr></table>
      <% end %>
    </aside>

    <footer class="footer">Footer</footer>
</div>
